<!-- /snippets/comment.liquid -->
{% comment %}

This snippet generates the structure of a comment.
It is used to show not only recent comments, but also comments that were
just published but not yet approved.

More information:
- http://docs.shopify.com/themes/liquid-variables/comment

{% endcomment %}

<div class="comment-details">
  <div class="comment-thumb"><a href="/"><img class="round" src="//placehold.it/120x120" alt=""></a></div>
  <div class="comment-info">
    <a href="/" class="author-name font-bold black">{{ comment.author }}</a>
    <span><a href="#comments" class="reply-button"><i class="fa fa-reply" aria-hidden="true"></i></a></span>
    <div class="date-post">{{ comment.created_at | date: ' %b %d, %Y' }} </div>
    <div class="desc">{{ comment.content }}</div>
  </div>
</div>
