<div class="d-none d-md-block promo_topbar relative text-center" {% if settings.background_promo != blank  %} data-bg="{{settings.background_promo|img_url: 'master'}}"{% else %} style="background-image : url(//via.placeholder.com/1920x200)" {% endif %}>
  <div class=" relative">
    <span>{{settings.content_promo_topbar}}</span>
    <a href="{{settings.url_btn_promo}}" class="btn_promo">{{settings.text_btn_promo}}</a>
    <a href="#" class="absolute inline-block close_promo_topbar">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           width="12px" height="12px" viewBox="0 0 12 12" enable-background="new 0 0 12 12" xml:space="preserve">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.437,12c-0.014-0.017-0.026-0.035-0.042-0.051
                                                         c-1.78-1.78-3.562-3.561-5.342-5.342c-0.016-0.016-0.028-0.034-0.07-0.064c-0.01,0.02-0.016,0.045-0.031,0.06
                                                         c-1.783,1.784-3.566,3.567-5.35,5.352C0.587,11.968,0.576,11.984,0.563,12c-0.004,0-0.008,0-0.013,0
                                                         C0.367,11.816,0.184,11.633,0,11.449c0-0.004,0-0.009,0-0.013c0.017-0.014,0.035-0.026,0.051-0.041
                                                         c1.781-1.781,3.562-3.562,5.342-5.342c0.017-0.016,0.036-0.027,0.06-0.044c-0.025-0.026-0.04-0.043-0.056-0.058
                                                         C3.613,4.168,1.83,2.385,0.046,0.601C0.032,0.587,0.016,0.576,0,0.563c0-0.004,0-0.008,0-0.013C0.184,0.367,0.367,0.184,0.551,0
                                                         c0.004,0,0.008,0,0.013,0C0.578,0.017,0.59,0.035,0.606,0.05c1.78,1.781,3.561,3.562,5.341,5.342
                                                         c0.016,0.016,0.027,0.035,0.045,0.059c0.025-0.024,0.041-0.039,0.057-0.054c1.783-1.784,3.566-3.567,5.35-5.351
                                                         C11.413,0.032,11.424,0.016,11.437,0c0.004,0,0.009,0,0.013,0C11.633,0.184,11.816,0.367,12,0.551c0,0.004,0,0.008,0,0.013
                                                         c-0.017,0.014-0.035,0.027-0.051,0.042c-1.78,1.78-3.561,3.561-5.342,5.341c-0.016,0.016-0.035,0.026-0.054,0.04
                                                         c-0.004,0.01-0.007,0.021-0.011,0.03c0.021,0.01,0.045,0.017,0.06,0.031c1.784,1.783,3.567,3.566,5.352,5.35
                                                         c0.014,0.014,0.03,0.025,0.046,0.038c0,0.004,0,0.009,0,0.013c-0.184,0.184-0.367,0.367-0.551,0.551C11.445,12,11.44,12,11.437,12z"
              />
      </svg>
    </a>
  </div>
</div>
